/*/.env
*.yml
./GBA/Config/*.yml
./RDW/Config/*.yml
ChicagoBoss-0.8.12/
bbs/ebin/*.beam
bbs/ebin/boss.app
bbs/*.beam
bbs/deps
bbs/erl_crash.dump
bbs/*~
bbs/#*#
bbs/.*#
bbs/*#
bbs/.eunit
bbs/src/boss/*.dtl.erl
bbs/*.sw?
bbs/.rebar
bbs/plt/
BOS/ebin/*.beam
BOS/ebin/boss.app
BOS/*.beam
BOS/deps
BOS/erl_crash.dump
BOS/*~
BOS/#*#
BOS/.*#
BOS/*#
BOS/.eunit
BOS/src/boss/*.dtl.erl
BOS/*.sw?
BOS/.rebar
BOS/plt/

